* {
    font-weight: bold;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.desktop {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(124px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.right-items {
    position: fixed;
    max-width: calc(100% - 40px);
    display: flex;
    right: 60px;
    align-items: center;
}

.right-items > div {
    color: white;
    margin-left: 20px;
}

#time, #date, #battery {
    color: white;
    align-items: center;
}

.context-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.context-menu label {
    padding: 10px;
    cursor: pointer;
    color: white;
}

.context-menu label:hover {
    background: rgba(15, 15, 15, 0.3);
}

.app-form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 2000;
}

.app-form label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.app-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.app-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.app-form button:hover {
    background-color: #0056b3;
}
